.nav{
    display: flex;
}

.nav__link{
    padding: 10px 15px;
    color: #404040;
    font-size: 18px;
    text-decoration: none;
    /*text-align: center;*/
}

.nav__link:hover{
    background: rgba(0, 0, 0, 0.03);
}

.nav--vertica{
    flex-direction: colum;
    align-items: flex-start;
}

.nav__link--simple{
    background: transparent !important;
    padding: 7px;
    padding-left: 0;
    opacity: .6;
}

.nav__link--simple:hover{
    opacity: 1;
}