.btn{
    text-decoration: none;
    padding: 15px 40px;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: clor 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 1;
}

.btn::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    content: '';
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn::hober::before {
    left: 0;
    right: auto;
    width: 100%;
}

.btn-link{
    border: none !important;
    background: transparent !important;
}

.btn--large{
    padding: 20px 70px;
}

.btn--primary{
    color: #404040;
    background: #fff;
    border-color: #404040;
}

.btn--primary:haver {
    color: #fff !important;
    background-color: transparent;
}

.btn--primary::before{
    color: #ffffff !important;
    background: #404040;
}

.btn--light{
    background: transparent;
    border: solid 1px #fff;
}

.btn--light:hover{
    color: #404040 !important;
}

.btn--light::before{
    background: #fff;
}

.btn--danger{
    background: transparent;
    border: solid 1px #cf5775;
    color: #cf5775;
}

.btn--danger:hover {
    color: #fff !important;
}

.btn--danger::before{
    background: #cf5775;
}

.btn-link.btn--danger{
    color:#cf5775 !important
}